argument_specs:
    main:
        options:
            upstream_name:
                type: 'str'
                required: true
                description: "The prefix for roles in the upstream collection to transform"
            downstream_name:
                type: 'str'
                required: true
                description: "The name of the downstream collection to generate"
            upstream_collection_name:
                type: 'str'
                required: false
                default: "{{ upstream_name }}"
                description: "Optional name of upstream collection"
            project_git_url:
                type: 'str'
                required: false
                description: "If provided, the git url used to fetch the upstream project repository"
            project_git_version:
                type: 'str'
                required: false
                description: "If provided along project_git_url, the branch to fetch the upstream project from"
            upstream_namespace:
                type: 'str'
                default: "community"
                description: "Name of the upstream namespace to transform"
            downstream_namespace:
                type: 'str'
                default: "ansible"
                description: "Name of the downstream namespace to generate the collection into"
            workdir:
                type: 'str'
                default: "{{ lookup('env', 'PWD') }}"
                description: "Working directory to run the transformation process onto"
            upstream_projects_dir:
                type: 'str'
                default: "{{ workdir }}/upstream"
                description: "Directory where the upstream project is cloned from git"
            downstream_projects_dir:
                type: 'str'
                default: "{{ workdir }}/downstream"
                description: "Directory where downstream collections will be generated"
            downstream_project:
                type: 'str'
                default: "{{ downstream_projects_dir }}/{{ downstream_name }}"
                description: "Directory where the downstream collection will be generated"
            skip_setup:
                type: 'bool'
                default: True
                description: "Whether to skip the pre-transformation setup phase"
            post_processors_replacements:
                type: 'list'
                default: []
                description: "List of { match, replace, file } dicts for post processing replacements. `match` and `replace` are regexes for string replacements while `file` is a regex matcher filtering filenames to post-process"
            upstream_downstream_collections_map:
                type: 'list'
                default: []
                description: "List of dependency mappings {upstream_name, downstream_name} for renaming in tasks, galaxy.yml and requirements.yml"
            upstream_organisation:
                type: 'str'
                default: 'ansible-collections'
                description: 'github.com organisation for upstream repositories'
            downstream_placeholder_delete:
                type: 'list'
                default: []
                description: "List of placeholder comments for removing upstream only documentation snippets"
            downstream_placeholder_content:
                type: 'list'
                default: []
                description: "List of placeholder comments used to add/replace downstream documentation snippets. List of dict(placeholder:str,content:str)"
            override_galaxy_version:
                type: 'str'
                required: false
                default: ''
                description: 'Set to override value of downstream version read from galaxy.yml'
            excluded_roles_from_downstream:
                type: 'list'
                default: []
                description: "List of roles to be excluded from final collection"
            case_insensitive_match:
                type: 'bool'
                default: False
                description: "Set the value to make upstream_name case insensitive for vars replacement in the collection"
            plugin_replacement_strict:
                default: false
                description: "set to true to only replace literal 'namespace.name'"
                type: 'bool'
    downstream:
        options:
            case_insensitive_match:
                type: 'bool'
                default: True
                description: "Set the value to make upstream_name case insensitive for vars replacement in the collection"
            upstream_namespace:
                type: 'str'
                default: "ansible"
                description: "Name of the upstream namespace to transform, but different"
            downstream_namespace:
                type: 'str'
                default: "acme"
                description: "Name of the downstream namespace to generate the collection into, also different"
